// Mixins Here
.button(@width: auto; @padding; @textColor; @bgColor) {
  font-size: 1.8rem;
  border-radius: 0.5rem;
  width: @width;
  padding: @padding;
  color: @textColor;
  background: @bgColor;
}

.flex(@direction: row; @justifyContent: center; @alignItems: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justifyContent;
  align-items: @alignItems;
}

.responsive(@mediaQuery; @rules) {

}